* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    color: white;
}

.logo-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;;
}

.container-1 {
    background-color: #8FBC8F;
    width: 100%;
    min-height: 350px;
    display: grid;
}

.welcome {
    background-color: white;
    width: 350px;
    min-height: 150px;
    justify-self: center;
    align-self: center;
}

.server-solo{
    background: red;
    width: 275px;
    height: 200px;
}
.server-quad{
    background: blue;
    width: 275px;
    height: 200px;
}

.container-2 {
    background-color: #555;
    width: 100%;
    height: 100%;
    min-height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

@media(max-width: 360px) {
    .welcome {
        width: 300px;
    }
    .container-2 {
        display: flex;
        align-items: center;
        flex-direction: column;
        min-height: 600px;
    }
}

#footer {
    background: black;
    width: 100%;
    min-height: 150px;;
}