* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
}
hr {
    margin: 5px auto;
    width: 85%;
}
p {
    margin: 5px 0;
}
body {
    background-color: #333;
    font-family: Open Sans;
    overflow-x: hidden;
}
.icon {
    width: 50px;
    height: 50px;
}
.infoimg{
    width: 400px;
    height: 400px;
}
.container {
    width: 100%;
    height: auto;
    display: flex;
}
.box {
    /*box-shadow: -26px -25px 26px 5px #17202A;*/
    background:  linear-gradient(#092a45, transparent);
    text-align: center;
    opacity: 1;
}
.logo img{
    width: 40px;
    height: 40px;
}
nav {
    z-index: 4;
    position: fixed;
    height: 63px;
    width: 100%;
    background: black;
    color: white;
    padding: 0px 10px;
    border-bottom: 3px solid #0c3c64;
}
ul {
    list-style-type: none;
}
a {
    color: white;
    text-decoration: none;
}
.item a:hover {
    padding: 10px 10px;
    background: #696969;
    border-radius: 50em;
    transition: all .25s;
}
.menu li {
    padding: 10px 10px;
}
.menu li a {
    display: block;
}

.btn-gradient {
    align-self: center;
    cursor: pointer;
    width: 80%;
    outline: none;
    position: relative;
    z-index: 3;
    background: transparent;
    color: #1172c4;
    font-size: 14px;
    border-color: #1172c4;
    border-style: solid;
    border-width: 2px;
    border-radius: 22px;
    padding: 10px 40px;
    text-transform: uppercase;
    transition: all 0.2s linear;
    text-decoration: none;
    font-weight: 700;
    color: white;
    border-color: white;
    background: transparent;
}

.btn-gradient:hover {
    color: #17202A;
    background: white;
    border-color: white;
}

.btn-gradient:active {
    color: white;
    background: #1172c4;
    border-color: white;
    transition: all 0.2s linear;
    color: white;
    background: #00164a;
    border-color: #00164a;
}

/* Mobile Menu */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.toggle{
    order: 1;
}
.item {
    order: 2;
    width: 100%;
    text-align: center;
    display: none;
}
.item.active {
    background: black;
    display: block;
}
.toggle {
    cursor: pointer;
}
.bars {
    background: white;
    display: inline-block;
    position: relative;
    height: 2px;
    width: 18px;
}
.bars::before, .bars::after {
    background: white;
    content: "";
    display: inline-block;
    position: absolute;
    height: 2px;
    width: 18px;
}
.bars::before {
    top: 5px;
}
.bars::after {
    top: -5px;
}
.welcome {
    padding-top: 20%;
    padding-bottom: 20%;
    min-height: 700px;
    justify-content: center;
    background-size: cover;
    backface-visibility: hidden;
    background-position: center 0;
    background-image: linear-gradient(transparent, #333),
    url("../images/Nightmarez-4.png");
}
.welcome div {
    min-height: 150px;
    text-align: center;
    color: white;
}
.server-cont {
    min-height: 700px;
    display: flex;
    justify-content: space-evenly;
    flex-flow: column wrap;
}
.servers {
    padding-top: 15px;
    display: flex;
    flex-flow: column wrap;
    width: 300px;
    min-height: 300px;
    color: white;
}
.intro {
    flex-direction: column;
    padding: 30px 0;
    color: white;
    width: 100%;
}
.intro div {
    width: 500px;
}
.intro h2, .intro p {
    font-size: 1.25rem;
}
.rules {
    width: 100%;
    padding: 30px 0;
    color: white;
}
.rules div {
    margin: auto;
    width: 500px;
}
.rules h2, .rules p {
    font-size: 1.25rem;
}
.wipes {
    flex-direction: column;
    margin: 0 0;
    padding: 30px 0;
    color: white;
    width: 300px;
}
.wipes h2, .wipes p {
    font-size: 1.25rem;
}
footer {
    background: black;
    min-height: 100px;
    justify-self: stretch;
    flex-direction: column;
    border-top: 3px solid #0c3c64;
}
footer ul {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}
footer div {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
footer hr {
    width: 60%;
    color: #333;
}
footer p {
    padding: 10px;
}

/* Tablet Menu */
@media all and (min-width: 468px) {
    nav {
        display: flex;
    }
    .menu {
        justify-content: center;
    }
    .logo h2 {
        font-size: 1.5rem;
    }
    .logo {
        flex: 1;
    }
    .item {
        width: auto;
    }
    h2 {
        font-size: 2rem;
    }
    p {
        font-size: 1.25rem;
    }
    .server-cont {
        flex-direction: row;
    }
    .servers p, .servers h2, nav h2 {
        font-size: 0.6rem;
    }
    .intro {
        width: 500px;
    }
    .intro h2, .intro p {
        font-size: 1.65rem;
    }
    .rules {
        flex-flow: row-reverse nowrap;
        width: 500px;
    }
    .rules h2, .rules p {
        font-size: 1.65rem;
    }
    .wipes {
        width: 500px;
    }
    .wipes h2, .wipes p {
        font-size: 1.65rem;
    }
    .box {
        max-width: 600px;
    }
    footer div {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

/* Desktop Menu */
@media all and (min-width: 768px) {
    nav {
        display: flex;
    }
    .welcome {
        min-height: 1000px;
        background-size: cover;
        backface-visibility: hidden;
        background-position: center 0;
        background-image:   linear-gradient(transparent, #333),
                            url("../images/Nightmarez-3.png");
    }
    .item {
        display: block;
        width: auto;
    }
    .toggle {
        display: none;
    }
    .logo {
        order: 0;
    }
    .logo a {
        align-self: flex-end;
    }
    .item {
        order: 1;
    }
    .servers {
        justify-content: center;
        width: 450px;
        height: 450px;
    }
    .servers h2 {
        padding: 0 0 15px 0;
        font-size: 1.75rem;
    }
    .servers p {
        padding: 15px 0px;
        font-size: 1.25rem;
    }
    .intro {
        flex-direction: row;
        margin: 0 auto 0 100px;
    }
    .rules {
        margin: 0 100px 0 auto;
    }
    .wipes {
        margin: 0 auto 0 100px;
    }
}